
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #28aac7;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
input[type="checkbox"] + label {
    color:#f2f2f2;
}
.header{
    height: 200px;
    background-color: #b12a3d;
    text-align: center;
    z-index: -1;
}

.header h2{
    margin:0px;
    padding-top: 40px;
    color:white;
}
.form_card{
    max-width: 1080px;
    margin: auto;
    border: 1px solid rgba(128, 128, 128, 0.09);
    padding: 20px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    top:110px;
    left: 0;
    right: 0;
    background-color: white;
    -webkit-box-shadow: 69px 101px 117px -48px rgba(176,176,176,1);
    -moz-box-shadow: 69px 101px 117px -48px rgba(176,176,176,1);
    box-shadow: 69px 101px 117px -48px rgba(176,176,176,1);
}
.form_card .input{
    width: 100%;
    border-radius: 2px;
    height: 35px;
    border-top: none;
    border-right: none;
    margin-bottom: 15px;
    padding: 5px;
    border-left: 2px solid #28aac7;
    -webkit-box-shadow: 1px 1px 29px 0px rgba(189,189,189,1);
-moz-box-shadow: 1px 1px 29px 0px rgba(189,189,189,1);
box-shadow: 1px 1px 29px 0px rgba(189,189,189,1);
}

.form_card .division{
    margin-bottom: 15px;
}
.form_card .button_container{
    text-align: right;
}
.form_card .button{
    height: 40px;
    background-color: #b12a3d;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    max-width: 110px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
    border: none;
}
.form_card span{
    margin-left: 5px;
    position: relative;
    top: -2px;
}

@media (max-width: 940px) {
    .division .col-sm-6{
        margin-bottom: 10px;
    }
}



